<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <title>News&Weather</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/scripts/newsandweather.js"
    ></script>
  </head>
  <body>
    <section class="filters">
      <h3>City, Country</h3>
      <div class="city">
        <input type="text" />
        <h4>example: Cali, CO</h4>
      </div>
      <button type="button" id="search">Search</button>
    </section>
    <section class="container">
      <article class="News">
        <h1>News</h1>
        <div class="card"></div>
      </article>
      <article class="Weather">
        <h1>Weather</h1>
        <div class="card"></div>
      </article>
    </section>
  </body>
</html>
